/* fonts */
@font-face {
    font-family: mono;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face {
    font-family: rainyHearts;
    src: url(fonts/rainyhearts.ttf);
}
@font-face {
    font-family: daydream;
    src: url(fonts/Daydream.ttf);
}

body {
    font-family: Arial, sans-serif;
    background-color: #FBFFE4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.flashcard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.flashcard {
    width: 250px; 
    height: 150px;
    background-color: #3D8D7A;
    color: #FBFFE4;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.flashcard-word {
    font-size: 24px;
    font-weight: bold;
    color: #FBFFE4;
}

.flashcard-definition {
    font-size: 18px;
    color: #FBFFE4;
}

.flashcard:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.flipped {
    background-color: #B3DBAB;
    color: #FBFFE4;
}

#navBar li a{
    padding: 10px;
    border: 10px;
    text-decoration: none;
    color: #3D8D7A;
}

#navBar ul {
    list-style: none; 
    display: flex;
    justify-content: center;
}

.image-button {
    display: inline-block;
    position: relative;
    background-image: url('Assets/button.png');
    background-size: cover;
    background-position: center;
    width: 200px; 
    height: 80px; 
    text-align: center;
    text-decoration: none;
    color: #3D8D7A;
    font-size: 20px;
    font-weight: bold;
    line-height: 80px; /* Centers text vertically */
    border-radius: 10px;
    transition: 0.3s;
}

.image-button:hover {
    opacity: 0.8; /* Slight fade effect on hover */
}

#title {
    color: #FFF;
    font-size: 35px;
    text-align: center;
    /* text-shadow: 0px 0px 5px #000; */
    height: 150px;
    line-height: 60px;
    margin: 0px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom:20px;
    /* padding-bottom: 10px; */
    font-family: daydream;
    /* font-family: Nasa21; */
    background-color: #a3d1c5;
    color: #112b25;
}