/* fonts */
@font-face {
    font-family: 'marker';
    src: url('fonts/Marker\ Felt.ttf');
}
@font-face {
    font-family: mono;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face {
    font-family: rainyHearts;
    src: url(fonts/rainyhearts.ttf);
}
@font-face {
    font-family: daydream;
    src: url(fonts/Daydream.ttf);
}

#header {
    text-align: center;
    font-family: daydream; 
}

body {
    background-color: #FBFFE4;
}

h1 {
    font-family: "marker", sans-serif;
    font-family: daydream; 
    padding-top: 50px;
    padding-bottom: 20px;
    color: #245953;
}

h2 {
    font-family: "marker", sans-serif;
    color: #FBFFE4;
}

h3 {
    font-family: "marker", sans-serif;
    color: #FBFFE4;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    border: solid 7px #245953;
    border-radius: 15px; 
    background-color: #3D8D7A;
    padding: 10px;
    padding-bottom: 35px;
    margin: 10px;
    text-align: center;
}

#deck-form {
    width: 90%;
    margin: auto;
}

.add-btn {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
    background-color: #82b5a9;
    border: 3px solid #245953;
    font-family: "marker", sans-serif;
    color: #FBFFE4;
    letter-spacing: 3px; 
}

.add-btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: #245953;
    border: 3px solid #82b5a9;
}

.btn-submit {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
    background-color: #82b5a9;
    border: 3px solid #245953;
    font-family: "marker", sans-serif;
    color: #FBFFE4;
    letter-spacing: 3px;
}

.btn-submit:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: #245953;
    border: 3px solid #82b5a9;
}

.delete-btn {
    background-color: #FF6B6B;
    border: none;
    color: white;
}

.list-group-item {
    background-color: #9bc992;
    color: #FBFFE4;
    border: solid 3px #245953;
}

label {
    font-family: "marker", sans-serif;
    color: #FBFFE4;
}

input {
    font-family: "marker", sans-serif;
    font-size: 1.2em;
}

