body {
    font-family: Arial, sans-serif;
    background-color: #FBFFE4;
    margin: 0;
    padding: 0;
    text-align: center;
}

#navBar li a{
    padding: 10px;
    border: 10px;
}

.image-button {
    display: inline-block;
    position: relative;
    background-image: url('Assets/button.png');
    background-size: cover;
    background-position: center;
    width: 200px; 
    height: 80px; 
    text-align: center;
    text-decoration: none;
    color: #3D8D7A;
    font-size: 20px;
    font-weight: bold;
    line-height: 80px; /* Centers text vertically */
    border-radius: 10px;
    transition: 0.3s;
}

.image-button:hover {
    opacity: 0.8; /* Slight fade effect on hover */
}
